
#cont {
  background-color: white;
  display: inline-block;
  width: 84.5%;
  margin: 4% 7%;
  margin: 0% 7%;
}

.about h1 {
  font-family:comic;
  color:#0074D9;
  text-shadow: 1px 2px #AAAAAA;
  padding: 0 2%;
  margin-bottom: 0;
}

.about h2 {
  border-top: 1px solid;
  width: 95%;
  margin-left: 7%;
}

#box {
  background-color:#ffffff;
  border: 2px solid #ffffff;
  font-family: comic;
  font-size: 96%;
  display: inline;
  }

#tabs-4 h4 {
  border: 2px solid #001F3F;
  color: #0074D9;
  padding:2px;
  border-radius:25px;
  background-color: #DDDDDD;
}

#box p:first-child {
  text-align: left;
  padding: 5px;
  color:#506c9f;
}

#side {
  padding: 0px 4%;
  float:right;
  display:inline;
  color:#506c9f;
  line-height:125%;

  @include desktop() {
    margin-right: 20px;
    margin-top:-30px;
    margin-left:679px;
    padding-left:5px;
  } ;

  @include lrgDesktop-width() {
    margin-right: 20px;
    margin-top:-30px;
    margin-left:679px;
    padding-left:5px;
  };
}

#side2 {
  float:right;
  display:inline;
  color:#506c9f;
  line-height:125%;
  padding: 0px 4%;

  @include desktop() {
    margin-top:10px;
    margin-right: 20px;
    margin-left:679px;
    padding-left:5px;
  };

  @include lrgDesktop-width() {
    margin-top:10px;
    margin-right: 20px;
    margin-left:679px;
    padding-left:5px;
  };
}

#box > p:nth-child(1) {
  margin:0;
}
#box p:first-child:first-letter { float: left;color: #903; font-size: 75px; line-height: 60px; padding-right: 6px; padding-left: 4px; font-family: 'Droid Sans'; }

#tabs {
  width: 98%;
  border: 1px ridge #001F3F;
  text-align: center;
  display:inline;
  font-size:72%;
  float:left;
  border-radius:5px;
  box-shadow: 4px 4px 4px #ccc;

  @include min(556px){
    font-size: 100%;
  }

  @include desktop() {
    width: 60%;
  };

  @include lrgDesktop-width() {
    width: 53%;
  };
}

.ui-tabs.ui-widget-content {
  background: #F0EAD6;
  border: none;
}

.ui-tabs .ui-tabs-nav
{
  background: transparent;
  border: none;
}

.ui-tabs
{
  background: gray;
}

.pure-menu {
   background-color:#001F3F !important;
 }

#hike {
  color: #FF851B;
  text-decoration:none;
}

#hike:hover {
  text-decoration:underline;
}

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; border: none; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; background-color: #F0EAD6;}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px;}
.ui-tabs .ui-tabs-panel { padding: 1em; float: right; width: auto;}

div#tabs-2 img {
padding:0 10px;
}

#tabs-1 > ul > li {
  display: block;
  padding: 0 0 2%;
}

#tabs-1 > ul > li a {
  color: #5890ff;
  text-decoration: underline;
}
