.contact {
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif; font-size: 28px; cursor: #121212;
}

.contact h2 {
  border-bottom: 1px solid #121212;
  padding-top: 1%;
  margin: -1% 2% 0;
  font-size: 103%;
  font-family: comic;
}

.ctPhoto {
  width: 50%;
  float: left;
  display: none;

  @include min(556px) {
    display: inline-block;
  };
}

.contact #box {
  background-color: #EDEDE8;
  border: 1px ridge #001F3F;
  text-align: right;
  font-family: comic;
  font-size: 60%;
  margin: 4% 17%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #ccc;
}

.contact #box a first-child {
  margin-left:50px;
}

.contact h4 {
  text-decoration:underline;
  margin-top: 0;
}

#gen {
  font-family: comic;
  padding-top:0 !important;
  font-size: 71%;
  line-height: 125%;
  text-align: left;
  display: block;
  padding: 3% 0;
  margin: 1% 2%;
  color: #0074D9;
}

#deets {
  display:block;
}

#wrapper {
  padding:2%;
  padding-bottom:15%;
  background-image: linear-gradient(#F0F8FF, white);
  margin: 0 10%;
}
