.contact {
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif; font-size: 28px;
}

.contact h2 {
  border-bottom: 1px solid #aaa;
  padding-top: 1%;
  margin-top: -1%;
  font-size: 114%
}

.contact #box {
  background-color: #F0EAD6;
  border: 1px ridge #001F3F;
  text-align: center;
  font-family: comic;
  font-size: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5%;
  box-shadow: 4px 4px 4px #ccc;
  padding: 2% 10%;
}

.contact #box a first-child {
  margin-left:50px;
}

.contact h4 {
  text-decoration:underline;
}

#gen {
  font-family: comic;
  padding-top:0 !important;
  font-size: 71%;
  line-height: 125%;
  text-align: left;
  display: block;
  padding: 3% 0;
  color: #0074D9;
}

#deets {
  display:block;
}

#wrapper {
  padding:2%;
  padding-bottom:35%;
}
