

html {
  overflow-y: scroll;
}

body {
  background-color: #e7e9ec;
}

.index {
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif; font-size: 28px;
}

.main-header {
  background: transparent url('background-image: url(https://ununsplash.imgix.net/46/iYvDeqVGRbebiQv2PIJi_DSC_8407.JPG?q=75&fm=jpg&s=a7538e1162bc4239180bb02813de4739)') 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');
  height:800px;
  width: 100%;
  margin-bottom: 1em;
  display: table;
}

#header {
  background-color:#7FDBFF;
  border: 2px blue;
}

h1 {
  color: #FFFFFF;
  padding: 25px;
  font-family:comic;
  text-shadow: 1px 1px #001F3F;
  font-size:150%;
}

h2.page-description {
  width: 137%;

  @include tablet() {
    padding-left: 50%;
  };

  @include desktop() {
    padding-left: 30%;
  };

  @include lrgDesktop-width() {
    padding-left: 25%;
  };
}

#headshot {
  border: 4px #001F3F;
  border-radius: 50%;
  float:right;
  display:none;
  margin-right:20px;

  @include tablet() {
    display: block;
  };

  @include desktop() {
    display: block;
  };

  @include lrgDesktop-width() {
    display: block;
  };
}

#skills {
  text-align: center;
  display: block;
  width: 75.5%;
  border: 1px gray solid;
  margin: auto;
  position: relative;
  top: 7px;
  font-family: comic;
  font-size: 60%;
  background-color: #ffffff;

  @include tablet() {
    width: 65%;
  };

  @include desktop() {
    width: 55%;
  }

  @include lrgDesktop-width() {
    width: 50.5%;
  };

  }

.stitle {
  background: #ba89b6;
  margin-top:0px;
  color:white;
  position:top;
  padding:10px;
}

.pure-menu {
  background-color:#001F3F !important;
}

.pure-menu a {
  color:#fff !important;
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif; font-size: 28px;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    background: #002953 !important;
}

ul li {
  display: inline-block;
  text-align: center;
}

ul li a{;
  font-size:100%;
  text-decoration: none;
}

ul li a:hover {
  color:#ccc !important;
}

label, type[submit] {
  display: block;
  margin: 5px;
  font-weight: bold;
  padding-top: 5px;
}

#signUp {
  display: none !important;
  float:left;
  width:17.5%;
  display: block;
  text-align: center;
  font-family:comic;
  font-size:65%;
  margin: 15px;
  background-color: #F0EAD6;
  background-image:linear-gradient(
    to right,
    #F0EAD6, white);
  border-radius:5px;
  border: 1px solid #001F3F;
  padding:5px;
  box-shadow: 4px 4px 4px #ccc;
}

#signUp form input {
  background: white !important;
  width:80%;
}

#email {
  text-align: center;
  font-size: 80%;
  padding: 3%;
  font-style: italic;
}

button {
  background:#0074D9;
  color:#ffffff;
  border-radius: .25em;
  text-align: center;
  padding: .4em;
  font-family:comic;
  font-size:75%;
  border-top: none;
  border-left: none;
  border-right: .065em #006400 solid;
  border-bottom: .065em #006400 solid;
  margin-bottom: 11.5%;
}

button:hover {
  background-color: #328fe0;
}

#weather {
  float:left;
  max-height: 3rem;
  width: auto;
  text-align: center;
  font-family:comic;
  font-size:60%;
  padding: 5px;
  background-image:linear-gradient(
    to right,
    #F0EAD6, white);

    @include tablet() {
      float: right;
      width: 46%;
      height: 2.8rem;
    };

    @include desktop() {
      float: right;
      width: 35%;
      height: 2.8rem;
    };

    @include lrgDesktop-width() {
      float: right;
      width: 34%;
      height: 2.8rem;
    };
}

#weather li {
  margin: 0% 2% 7% 0;
  color: #5e5e5e;
}

#weather li:nth-child(1) {
  font-weight: bold;
}

li#cond {
float: left;
margin-top: -5%;
width: 48%;

@include tablet() {
  width: 51%;
};

@include desktop() {
  width: 54%;
};

@include lrgDesktop-width() {
  width: 57%;
};
}

#weather img {
  float: right;
  margin-top: -9%;
  width: 12%;
  padding-right: 15%;

  @include tablet() {
    width: auto;
  };

  @include desktop() {
    width: auto;
  };

  @include lrgDesktop-width() {
    width: auto;
  };
}

#icons {
  text-align:center;
  margin-top:100px;
}

footer {
  background: #001F3F;
  color: #FF851B;
  text-align: center;
}

footer p {
  padding:5px;
  margin:10px;
}
