$tablet-width: 768px;
$desktop-width: 1024px;
$lrgDesktop-width: 1270px;
$miniPhone-width: 359px;
$num: 556px;

@mixin min($num) {
  @media (min-width: #{$num)}) {
    @content;
  }
}

@mixin miniPhone {
  @media (max-width: #{$miniPhone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$lrgDesktop-width - 1px}) {
    @content;
  }
}

@mixin lrgDesktop-width {
  @media (min-width: #{$lrgDesktop-width}) {
    @content;
  }
}
