#header {
  background-color:#7FDBFF;
  border: 2px blue;
}

h1 {
  color: #FFFFFF;
  padding: 25px;
  font-family:comic;
  text-shadow: 1px 1px #001F3F;
  font-size:250%;
}

#mt {
  display: inline-block;
  margin-left: 5px;
  float: left;
  border-radius: 25px;
}

#tabs {
background-color:#001F3F;
text-align: center;
}

#box {
  background-color:#DDDDDD;
  margin:-1px 225px 0px 225px;
  border: 2px solid #001F3F;
  border-radius:25px;
}

#box p {
  text-align: center;
  padding: 20px;
}

background {
background-color:#ffffff;

}

ul li {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  text-align: center;
	margin: 0 0 2px 0;
}

ul li a{
  color:#FF851B;
  font-size:130%;
  text-decoration: none;
}

ul li a:hover {
  color:#FF4136;
}

label, type[submit] {
  display: block;
  margin: 5px;
}

#signUp {
  float:right;
  display: inline;
  text-align: center;
  margin: 15px;
  background-color: #dad295;
  border-radius:25px;
}

footer {
  text-align: center;
  margin: 15px;
}
